{% extends "admin/base.html" %} 
{% load i18n static %} 

{% block branding %}
<h1 id="site-name" style="display:inline">
	<a href="{% url 'admin:index' %}">Manager Page</a>
</h1>
{% endblock %} 

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
{% endblock %} 

{% block coltype %}colMS{% endblock %} 

{% block bodyclass %}{{ block.super }} dashboard{% endblock %} 


{% block content %}
<div id="content-main">

	<form method="POST" action="/admin/action/">{% csrf_token %}
		<label for="colorSelect">Selection action: </label>
		<select type="text" id="actionSelect" name="actionSelect">
			<option selected>Manage Customer Accounts</option>
			<option>Manage Reservations</option>
			<option>View All Flight Information</option>
			<option>Generate Sales Reports</option>
		</select>
		<br>
		<br>
		<input type="submit" value="Submit" />
	</form>

{% endblock %} 
	