<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
body, html {
    margin-top:50px;

}
h1 {
	color:#000;
	font-size:50px;
	margin-top:50px;
	text-align:center;
}

table {
    width: 100%;
    margin-left: 140px;
    font-size:20px;
}

</style>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div style=""class='col-sm-6 col-sm-offset-3'>

        <h1>Our Best-seller Flight</h1></br>

        <table>
          <tr>
            <th>Rank</th>
            <th>Flight No</th>
          </tr>
          {% for list in bestSellers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{list.0}}{{list.1}}</td>
          </tr>
          {% endfor %}
        </table>

    </div>

</body>
</html>


{% endblock content %}
