{% extends 'dashboard/base.html' %} 
{% block content%}
<div class="container">
  <div class="row mt-4">
    <div class="col-lg">
      <div class="card">
        <div class="card-body">
          <!-- {{ user.id}} -->
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Account Number</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>25816</td>
                <td>Ozella</td>
                <td>Conroy</td>
                <td>48943 Runolfsson Landing</td>
                <td>Mckenzieport</td>
                <td>PA</td>
                <td>13246</td>
                <td>202-784-1612</td>
                <td>
                  <button type="button" class="btn btn-primary">Update/Delete</button>
                </td>
              </tr>
              <tr>
                <td>78859</td>
                <td>Aida</td>
                <td>Lesch</td>
                <td>9362 Yost Pine</td>
                <td>Kattieland</td>
                <td>MN</td>
                <td>88510</td>
                <td>421-161-3982</td>
                <td>
                  <button type="button" class="btn btn-primary">Update/Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}