{% extends 'dashboard/base.html' %} {% block content%}
<div class="container">
  <div class="row mt-4">
    <div class="col-lg">
      <div class="card">
        <div class="card-header">
          Flights
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Airline</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Departing Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AA</td>
                <td>1355</td>
                <td>LGA</td>
                <td>ORD</td>
                <td>5:00</td>
                <td>6:25</td>
                <td class="text-danger">Delayed</td>
              </tr>
              <tr>
                <td>United</td>
                <td>1025</td>
                <td>JFK</td>
                <td>BWI</td>
                <td>5:15</td>
                <td>6:40</td>
                <td class="text-danger">Delayed</td>
              </tr>
              <tr>
                <td>United</td>
                <td>1243</td>
                <td>ORD</td>
                <td>ATL</td>
                <td>5:50</td>
                <td>8:35</td>
                <td class="text-success">On Time</td>
              </tr>
              <tr>
                <td>AA</td>
                <td>1807</td>
                <td>BWI</td>
                <td>LGA</td>
                <td>6:00</td>
                <td>7:45</td>
                <td class="text-success">On Time</td>
              </tr>
              <tr>
                <td>Delta</td>
                <td>605</td>
                <td>ATL</td>
                <td>JFK</td>
                <td>7:50</td>
                <td>11:05</td>
                <td class="text-danger">Delayed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}